atomicwrites==1.2.1
attrs==18.2.0
bottle==0.12.13
certifi==2018.8.24
chardet==3.0.4
Click==7.0
colorama==0.3.9
construct==2.9.45
funcsigs==1.0.2
future==0.16.0
idna==2.7
Jinja2==2.10
MarkupSafe==1.0
mock==2.0.0
more-itertools==4.3.0
pathlib2==2.3.2
pbr==4.2.0
pefile==2018.8.8
pluggy==0.7.1
py==1.6.0
pyelftools==0.25
pyparsing==2.2.1
pytest==3.8.1
pytest-console-scripts==0.1.6
pytest-runner==4.2
PyYAML==3.13
requests==2.20.0
ruamel.ordereddict==0.4.13
ruamel.yaml==0.15.71
scandir==1.9.0
six==1.11.0
tabulate==0.8.2
toml==0.9.6
tox==3.4.0
urllib3==1.23
virtualenv==16.0.0
